@model CaseHandler.WebApplication.Data.Models.Case

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ügy törlése</h1>

<h3>Biztos abban hogy törli a kiválasztott ügyet?</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>A ügy törlése után nem lesz lehetősége azt visszaállítani, a törlési művelettel a ügyhöz tartozó <b>minden</b> adat véglegesen elveszik.<br/>A művelet végeztével ügy bejelentője, valamint felelőse is értesítésre kerülnek.</strong>
    </p>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportedBy.UserName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a href="javascript:history.back()">Vissza az előző oldalra</a>
    </form>
</div>
