@model CaseHandler.WebApplication.Data.Models.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Megjegyzés törlése</h1>

<h3>Biztos hogy törli az alábbi megjegyzést?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentedBy.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a href="javascript:history.back()">Vissza az előző oldalra</a>
    </form>
</div>
